<ol class="post-list">
  {{!-- loops through each post; "as |post|" declares post as the variable name for subsequent placeholders --}}
  {{#each posts as |post|}}
  <li>
    {{> post-info post}}
  </li>
  {{!-- ends the loop --}}
  {{/each}}
</ol>